<div class="container mt-2">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    <h3>Register</h3>
                </div>
                <div class="card-body">
                    <form form name="myForm" ng-keypress="($event.charCode==13)? register() : return">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="username">Username:</label>
                                    <input type="text" class="form-control" name="username" value="" ng-model="username" required>
                                    <span style="color:red" ng-show="myForm.username.$dirty && myForm.username.$invalid">
                                    <span ng-show="myForm.username.$error.required">Username is required.</span>
                                    </span>
                                    <span style="color:red" ng-show="myForm.username.$dirty && usernameWrongInput">
                                    <span ng-show="usernameWrongInput">Username can only contain letters, numbers, and underscores, and must be between 6 and 50 characters long.</span>
                                    </span>
                                        
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="password">Password:</label>
                                    <input type="password" class="form-control" name="password" value="" ng-model="password" required>
                                    <span style="color:red" ng-show="myForm.password.$dirty && myForm.password.$invalid">
                                    <span ng-show="myForm.password.$error.required">Password is required.</span>
                                    </span>
                                    <span style="color:red" ng-show="myForm.password.$dirty && passwordWrongInput">
                                    <span ng-show="passwordWrongInput">Password must be at least 8 characters long and contain: 1 lower case letter, 1 upper case letter, 1 numeric character.</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label></label><p></p>
                                <button type="button" class="btn btn-primary" ng-click="register()" ng-disabled="myForm.username.$invalid || 
                                myForm.password.$invalid || error || usernameWrongInput || passwordWrongInput">Register</button>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <div class="form-group">
                                    <label for="password">Confirm password:</label>
                                    <input type="password" class="form-control" name="passwordConfirm" value="" ng-model="passwordConfirm">
                                    <span style="color:red" ng-show="error">
                                    <span ng-show="error">Passwords must match</span>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    Already have an account? <a href="#!login">Sign in here</a>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>